
#index{
    width:100%
}
.vip,.vip-goods{
    width:100%;
    /* height:15.3rem */
}
.vip img{
    width:100%;
}
.vip-goods{
    margin-bottom: 1rem;
    background:#D5F6FF;
    display:flex;
    justify-content:space-around;
}
.vip-goods-desc{
    width:32%;
    height:100%
}
.vip-goods-desc img{
    width:100%
}
.index-list{
    width:100%;
}
.index-desc{
    width:100%;
    height:8rem;
    text-align:center;
    display:flex;
    justify-content:space-around
}
.index-desc-list{
    width:15%;
    height: 8rem;
    position: relative;
}
.cirle-white{
    height: 5.5rem;
    width: 100%;
    border-radius:50%;
    background:#fff;
}
.index-desc-list>img{
    width: 100%;
    height: 8rem;
    float: left;
    /* height: 8rem; */
    position: absolute;
    top: 0;
    left: 0;
}
.fastbuy{
    width:95%;
    height:22rem;
    background:#fff;
    margin:0 auto;
    border-radius:0.8rem;
    margin:1rem;
}
.fastbuy-top{
    height:6rem;
    margin-bottom: 2rem;
}
.fastbuy-desc1{
    font-size:23px;
    height:4rem;
    line-height:4rem;
    text-align:center;
    color:#282828;
    margin:0;
}
.fastbuy-desc2{
    font-size:15px;
    height:2rem;
    color:#282828;
    text-align:center;
    line-height:2rem
}
.fastbuy-bottom{
    height:13rem;
    display:flex;
    justify-content: space-around;
}
.fastbuy-bottom1{
    width:20%;
    height:100%;
    text-align:center
}
.opennew{
    width:95%;
    height:23rem;
    background:#fff;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius:1rem;
    overflow:hidden;
}
.opennew-top{
    height:75%;
}
.opennew-goodsname{
    float:left; 
    margin:0;
    font-size:13px;
    color:#000;
    font-weight:600;
    width:70%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.opennew-times{
    float:right;
    margin:0;
    font-size:12px;
}
.opennew-goodsname,.opennew-times{
    padding:0 0.8rem 0 1rem;
    margin-top:1rem;
}
/* .clear:after{
    content:'';
    display:block;
    clear:both
} */
.opnenew-price{
    font-size:12px;
    padding:0 0.8rem 0 1rem;
}