<style>
        #J-foot-toolbar{
            width:100%;
            height:12rem;
            background-color: #fff;
        }
        .u-footer-top{
            font-size:1rem;
            line-height: 1;
            color: #999;
            padding: 1.7rem 0.8rem;
            text-shadow: 0 0.03 0 #fff;
            text-align: center;
            height:4rem;
        }
        .u-footer-bar{
             display:flex;
             flex-wrap: wrap;
        }
        .u-footer-bar-item{
             flex:1;
             text-align:center;
             border-right:1px solid #ccc;
             font-size:0.5rem;
        }
        .footimgbox{
            margin-top:1rem;
        }
        .u-footer-bar-item:nth-child(4){
            border-right:none;
        }
        .footer-download{
            padding:0.85rem 1.28rem;
            display:flex;
            justify-content:space-between;
            height:5.2rem;
            font-size:1.14rem;
        }
        .footer-download-desc{
            line-height:3.75rem;
            color: #222;
        }
        .plus{
            width: 100%;
            height: 10px;
            background: white;
            margin: 0;
            padding: 0;
        }
        .fs13{
            font-size:1.3rem;
        }
        .fs10{
            font-size:1rem;
        }
        .footer-downloadnav{
            width:60%;
            display:flex;
            justify-content:space-between;
        }
        .updown{
            width:20%;
            height:2.5rem;
            border: 1px solid #cf3e8e;
            text-align:center;
            line-height:2.5rem;
            margin-top:0.5rem;
        }
        .J-page-footer{
            padding:0.4rem 1.28rem 0;
        }
        .footer-nav{
            width:100%;
            height:2.4rem;
            display:flex;
            justify-content:space-between;
        }
        .footer-nav-left,.footer-nav-right{
            width:40%;
            height:100%;
            display:flex;
            justify-content: space-between;
        }
        .footer-nav-right{
            width:20%;
        }
        .copyright{
            color: #ccc;
            text-align: center;
        }
        .dsb{
            text-align: center;
            width:100%;
            height:5rem;
            line-height:5rem;
        }
        .dsb-desc{
            color: #ccc;
        }
        .bgfff{
            background:#F3F4F5;
        }
</style>    

<!-- 页脚工具栏 -->
<div id="J-foot-toolbar">
    <div class="u-footer-top fs10">
        <span>早10晚8，更多特卖，敬请期待！</span>
    </div>
    <div class="u-footer-bar">
        <!-- 1 -->
        <a href="" class="u-footer-bar-item">
                <div class="footimgbox"><img src="/images/homeapp/foot1.png"></div>
                <p class="footer-bar-desc fs13">即将上线</p>
        </a>
            <!-- 2 -->
        <a href="" class="u-footer-bar-item">
                <div class="footimgbox"><img src="/images/homeapp/foot2.png"></div>
                <p class="footer-bar-desc fs13">唯品团购</p>
        </a>
        <!-- 3 -->
        <a href="" class="u-footer-bar-item">
                <div class="footimgbox"><img src="/images/homeapp/foot3.png"></div>
                <p class="footer-bar-desc fs13">正品保证</p>
        </a>
        <!-- 4 -->
        <a href="" class="u-footer-bar-item">
                <div class="footimgbox"><img src="/images/homeapp/foot4.png"></div>
                <p class="footer-bar-desc fs13">唯品客服</p>
        </a>
        <p class="plus"></p>
        <p class="plus"></p>
        <p class="plus"></p>
        
    </div>
      <!-- 页脚下载条 -->
     <div class="J-foot-download bgfff">
        <a href="" class="footer-download">
            <div class="footer-downloadnav">
                <img src="/images/homeapp/vph.png" height="32px" >
                <p class="footer-download-desc fs13">唯品会客户端，特卖抢不停</p>
            </div>
            <div class="updown fs13">下载</div>
        </a>
     </div>
     <!-- 页脚copyright信息 -->
     <div class="J-page-footer  bgfff">
         <!-- 关于我们 -->
        <div class="footer-nav fs13">
            <div class="footer-nav-left">
                <a href="">唯品会首页</a>
                <a href="">关注我们</a>
            </div>
            <div class="footer-nav-right">
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </div>
         <!-- 版权信息 -->
         <p class="copyright fs13">
             Copyright © 2008-2017 m.vip.com, All Rights Reserved 粤ICP备08114786号
         </p>
         <div class="dsb fs13">
             <a href="" class="dsb-desc"><img src="/images/homeapp/jc.png">粤公网安备 44010302000068号</a>
         </div>
     </div>
</div>