
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>唯品会</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/quadro/css/font-awesome.css">    
        <link rel="stylesheet" href="/stylesheets/quadro/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/quadro/mui/mui.min.css">
        <link rel="stylesheet" href="/stylesheets/quadro/swiper/swiper.css">
        <script src="/javascripts/quadro/jquery.js"></script>
        <script src="/javascripts/quadro/iscroll/iscroll.js"></script>
        <script src="/javascripts/quadro/mui/mui.js"></script>
        <script src="/javascripts/quadro/swiper/swiper.js"></script>
        <script src="/javascripts/quadro/layer.js"></script>
        <style>
           *{
            padding: 0;
            margin: 0;
          }
          html{
            font-size:10px;
            /* background:#ccc */
          }
          body{
            padding: 0;
          }
          li{
            list-style:none
          }
        </style>
      </head>
      <body>