
<link rel="stylesheet" href="/stylesheets/index/index.css">

<div class="nav">
    <div id="login">
        <span class="login">登录</span>
        <input class="search" placeholder="大家正在搜：护肤套装">
        <span class="list"><img src="/images/index/list1.png"></span>
    </div>
    <div class="clear nav1">
        <div class="scrollBar fl">
            <div class="scrollBarItem">
                <ul>
                    <li class="actcive" id="active"><a href="" class="color">今日推荐</a></li>
                    <li class="actcive"><a href="">最后疯抢</a></li>
                    <li class="actcive"><a href="">美妆</a></li>
                    <li class="actcive"><a href="">母婴</a></li>
                    <li class="actcive"><a href="">国际</a></li>
                    <li class="actcive"><a href="">家电</a></li>
                    <li class="actcive"><a href="">家居</a></li>
                    <li class="actcive"><a href="">生活</a></li>
                    <li class="actcive"><a href="">唯品奢</a></li>
                </ul>
            </div>
        </div>
        <div class="fr nav-img-box" id="angledown">
            <p class="fs12 color-gray"><i class="fa fa-angle-down"></i></p>
        </div>
        <!-- 导航出下拉列表 -->
        <div class="select" id="angleup">
            <div class="select1">
                <span>精品推荐</span>
                <span><i class="fa fa-angle-up"></i></span>
            </div>
            <div class="select1-goods">
                <div class="select1-goods-desc">
                    <div>
                        <img src="/images/index/index.png" alt="">
                        <p>今日推荐</p>
                    </div>
                    <div>
                        <img src="/images/index/lastCrazy.png" alt="">
                        <p>最后疯抢</p>
                    </div>
                    <div>
                        <img src="/images/index/newbeauty.png" alt="">
                        <p>美妆</p>
                    </div>
                    <div>
                        <img src="/images/index/baby.png" alt="">
                        <p>母婴</p>
                    </div>
                </div>
                <div class="select1-goods-desc">
                    <div>
                        <img src="/images/index/intervational.png" alt="">
                        <p>国际</p>
                    </div>
                    <div>
                        <img src="/images/index/homeapp.png" alt="">
                        <p>家电</p>
                    </div>
                    <div>
                        <img src="/images/index/furniture.png" alt="">
                        <p>家居</p>
                    </div>
                    <div>
                        <img src="/images/index/life.png" alt="">
                        <p>生活</p>
                    </div>
                </div>
                <div class="select1-goods-desc" style="border:none">
                    <div>
                        <img src="/images/index/vipcostly.png" alt="">
                        <p>唯品奢</p>
                    </div>
                    <div></div><div></div><div></div>
                </div>

            </div>
            <div class="select1" style="border:none">
                <span style="color:#585C64;font-size:12px">精品推荐</span>
            </div>
            <div class="select-more">
                <div class="select-more-desc">
                    <div>女装</div>
                    <div>男装</div>
                    <div>鞋包</div>
                    <div>童装童鞋</div>
                </div>
                <div class="select-more-desc">
                    <div>面部护肤</div>
                    <div>手表配饰</div>
                    <div>内衣</div>
                    <div>运动户外</div>
                </div>
                <div class="select-more-desc">
                    <div>护肤彩妆</div>
                    <div>手机数码</div>
                    <div>轻奢</div>
                    <div>旗舰店</div>
                </div>
                <div class="select-more-desc">
                    <div>国际</div>
                    <div>母婴</div>
                    <div>家居家纺</div>
                    <div>大家电</div>
                </div>
                <div class="select-more-desc">
                    <div>家具家装</div>
                    <div>生活超市</div>
                    <div>医药健康</div>
                    <div>国际品牌</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     var myScroll1 = new IScroll('.scrollBar',{
            scrollX: true
        })

        // 下拉列表的js
        var angledown=document.querySelector('#angledown')
        var angleup=document.querySelector('#angleup')
        angledown.onclick=function(){
            angleup.style.display='block'
        }
        angleup.onclick=function(){
            angleup.style.display='none'
        }
</script>