<% include base/head.ejs%>

<link rel="stylesheet" href="/stylesheets/jinqiuxieli/jinqiuxieli.css"> 

<div class="page-collect-wrapper clearfix">
        <div class="f-left">
            <i class="fa fa-angle-left"></i>
           <img src="/images/jinqiuxieli/fanhui.png" alt="">
        </div>
        <div class="title">
            <span class="ui-ellipsis">金秋蟹礼 团圆佳肴</span>
        </div>
        <div class="f-right">
            <img src="/images/jinqiuxieli/shoucang.png" alt="">

            <img class="zhuan" src="/images/jinqiuxieli/zhuafa.png" alt="">
       </div>
</div>

<div class="daohang">
    <div class="one">
       <img src="/images/jinqiuxieli/yuanquan.png" alt="">
       <span>有货商品</span>
    </div>
    <div class="two">
        <i class="fa fa-sort"> </i>
            <span>价格</span>
    </div>
    <div class="three">
            <i class="fa fa-sort"> </i>
                <span>折扣</span> 
    </div>
    <div class="four">
        <img src="/images/jinqiuxieli/shaixuan.png" alt="">
        <span>筛选</span>
    </div>
</div>

<div class="kong" >
    <div class="sheng">
        <span>剩2天</span>
    </div>
</div>
    
    <div class="flex-container">
      <div class="flex-item">
          <div class="shopimg">
              <img src="/images/jinqiuxieli/1.jpg" alt="">
          </div>
          <div class="shopword">
              <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                <span class="price">￥198 </span>
                <span class="drop"> ￥1469 </span>
                <span class="zhe">1.3折</span>
            </p>
             <p class="desc">[胡可推荐]大闸蟹礼券 奢华型5566公4.0两母3.0两5... </p>
          </div>
      </div>
      <div class="flex-item">
            <div class="shopimg">
                <img src="/images/jinqiuxieli/2.jpg" alt="">
            </div>
            <div class="shopword">
                    <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                        <span class="price">￥422</span>
                        <span class="drop"> ￥1888 </span>
                        <span class="zhe">2.2折</span>
                    </p>
                     <p class="desc">公4.5两母3.5两 4对3388型大闸蟹礼券 </p>
            </div>
     </div>

    </div>

    <div class="flex-container">
            <div class="flex-item">
                <div class="shopimg">
                    <img src="/images/jinqiuxieli/3.jpg" alt="">
                </div>
                <div class="shopword">
                    <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                      <span class="price">￥168 </span>
                      <span class="drop"> ￥999 </span>
                      <span class="zhe">1.7折</span>
                  </p>
                   <p class="desc">大闸蟹礼券 1888型母2.5两10只装</p>
                </div>
            </div>
            <div class="flex-item">
                  <div class="shopimg">
                      <img src="/images/jinqiuxieli/4.jpg" alt="">
                  </div>
                  <div class="shopword">
                          <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                              <span class="price">￥422</span>
                              <span class="drop"> ￥1888 </span>
                              <span class="zhe">2.2折</span>
                          </p>
                           <p class="desc">公4.5两母3.5两 4对3388型大闸蟹礼券 </p>
                  </div>
           </div>
      
      
      
           
    </div>
    
    <div class="flex-container">
            <div class="flex-item">
                <div class="shopimg">
                    <img src="/images/jinqiuxieli/5.jpg" alt="">
                </div>
                <div class="shopword">
                    <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                      <span class="price">￥288 </span>
                      <span class="drop"> ￥1326 </span>
                      <span class="zhe">1.7折</span>
                  </p>
                   <p class="desc">大闸蟹礼券卡券公蟹4.0两只母蟹4.0 10只礼盒装 </p>
                </div>
            </div>
            <div class="flex-item">
                  <div class="shopimg">
                      <img src="/images/jinqiuxieli/6.jpg" alt="">
                  </div>
                  <div class="shopword">
                          <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                              <span class="price">￥422</span>
                              <span class="drop"> ￥1888 </span>
                              <span class="zhe">2.2折</span>
                          </p>
                           <p class="desc">公4.5两母3.5两 4对3388型大闸蟹礼券 </p>
                  </div>
           </div>
      
      
      
           
    </div>
    <div class="flex-container">
            <div class="flex-item">
                <div class="shopimg">
                    <img src="/images/jinqiuxieli/7.jpg" alt="">
                </div>
                <div class="shopword">
                    <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                      <span class="price">￥198 </span>
                      <span class="drop"> ￥1469 </span>
                      <span class="zhe">1.3折</span>
                  </p>
                   <p class="desc">[胡可推荐]大闸蟹礼券 奢华型5566公4.0两母3.0两5... </p>
                </div>
            </div>
            <div class="flex-item">
                  <div class="shopimg">
                      <img src="/images/jinqiuxieli/8.jpg" alt="">
                  </div>
                  <div class="shopword">
                          <p class="sectionlist-homeappnav-text"><span class="logodesc">快抢价</span>
                              <span class="price">￥422</span>
                              <span class="drop"> ￥1888 </span>
                              <span class="zhe">2.2折</span>
                          </p>
                           <p class="desc">公4.5两母3.5两 4对3388型大闸蟹礼券 </p>
                  </div>
           </div>
      
      
      
           
    </div>
    





<div id="shopcar" style="width:5rem;height:5rem;background:#22262D;position:fixed;top:90%;left:1rem;z-index:2;border-radius:50%;text-align: center;line-height: 5rem;"><span style="font-size:27px;color:#fff;">导航</span></div>
<script>
           // 下拉列表的js
           var angledown=document.querySelector('#angledown')
           var angleup=document.querySelector('#angleup')
           angledown.onclick=function(){
               angleup.style.display='block'
           }
           angleup.onclick=function(){
               angleup.style.display='none'
           }



           //置顶
           window.onscroll=function(){
            var daohang=document.querySelector(".daohang")
            var topScroll=document.documentElement.scrollTop;
            if(topScroll>10){
                daohang.style.position="fixed";
                daohang.style.top="0";
                daohang.style.zIndex="0"
            }else{
                daohang.style.position="static"
            }
        }
</script>
<% include base/foot.ejs%>






