<% include base/head.ejs%>

    <link rel="stylesheet" href="/stylesheets/lastcrazy/lastcrazy.css">
 
    <div class="top">
        <img src="/images/lastcrazy/top.webp" alt="" width="100%" height="100%">
    </div>
    <div class="content">
        <img src="/images/lastcrazy/content.webp" alt="" width="100%" height="100%">
        <div class="smwy"></div>
        <div class="smwy"></div>
    </div>
    <ul class="bg-white hrem4 w100 lsnone">
        <li class="nav-text1 fw" id="jrfq">今日疯抢(215) </li>
        <li class="nav-text2 fw" id="xqyg">下期预告(29)</li>
    </ul>
    <div class="shangxin ">
        <div class="sxtitle"><img src="/images/lastcrazy/shangxin.webp" alt=""></div>
        <div class="sxpinpai clear ">
            <div class="sx1">
                <img src="/images/lastcrazy/shangxin1(1).webp" alt="">
                <span>到手价3折封顶</span></div>
            <div class="sx2">
                <div class="sx2-1">
                    <img src="/images/lastcrazy/sx2-1.webp" alt="" width="100%">
                    <span class="fs10 color-pink  bg-white" id="dazhe">2.2折</span>
                    <span class="color-pink fs14 fw">￥224</span>
                    <span class="color-gray fs14 line-throught">￥998</span>
                </div>
                <div class="sx2-1">
                    <img src="/images/lastcrazy/sx2-2.webp" alt="" width="100%">
                    <span class="fs10 color-pink  bg-white" id="dazhe">1.7折</span>
                    <span class="color-pink fs14 fw">￥299</span>
                    <span class="color-gray fs14 line-throught">￥1780</span>
                </div>
                <div class="sx2-1">
                    <img src="/images/lastcrazy/sx2-3.webp" alt="" width="100%">
                    <span class="fs10 color-pink bg-white" id="dazhe">1.7折</span>
                    <span class="color-pink fs14 fw">￥99</span>
                    <span class="color-gray fs14 line-throught">￥598</span>
                </div>
            </div>
            <div class="sx3">
                <span>太平鸟男装品牌疯抢日专场</span>
                <span class="sx3-r">仅剩</span>
                <span class="bg-gray" id="color-white">01</span>
                <span >天</span>
            </div>
        </div>
        </div>
    </div>
    <div class="yugao">
        <div class="yg1">
            <img src="/images/lastcrazy/yg-1.webp" alt="">
            <span>到手价3折封顶</span>
            <div class="kaiqiang">
               <span class="fw">今日</span> 
               <span id="time">10</span>
               <span>:</span>
               <span id="time">00</span> 
               <span class="fw">开抢</span> 
               <button>抢先收藏 ></button>
            </div>
        </div>
        <div class="yg1">
            <img src="/images/lastcrazy/yg-1 (1).webp" alt="">
            <span>到手价3折封顶</span>
            <div class="kaiqiang">
               <span class="fw">今日</span> 
               <span id="time">10</span>
               <span>:</span>
               <span id="time">00</span> 
               <span class="fw">开抢</span> 
               <button>抢先收藏 ></button>
            </div>
        </div>
        <div class="yg1">
            <img src="/images/lastcrazy/yg-1 (2).webp" alt="">
            <span>到手价3折封顶</span>
            <div class="kaiqiang">
               <span class="fw">今日</span> 
               <span id="time">10</span>
               <span>:</span>
               <span id="time">00</span> 
               <span class="fw">开抢</span> 
               <button>抢先收藏 ></button>
            </div>
        </div>
        <div class="yg1">
            <img src="/images/lastcrazy/yg-1 (3).webp" alt="">
            <span>到手价3折封顶</span>
            <div class="kaiqiang">
               <span class="fw">今日</span> 
               <span id="time">10</span>
               <span>:</span>
               <span id="time">00</span> 
               <span class="fw">开抢</span> 
               <button>抢先收藏 ></button>
            </div>
        </div>
    </div>
    <script>
        var jrfq = document.querySelector('#jrfq')
        var xqyg = document.querySelector('#xqyg')
        var shangxin = document.querySelector('.shangxin')
        var yugao = document.querySelector('.yugao')
        jrfq.onclick = function(){
            shangxin.style.display = 'block'
            yugao.style.display = 'none'
        }
        xqyg.onclick = function(){
            shangxin.style.display = 'none'
            yugao.style.display = 'block'
        }

    </script>
    
<% include base/foot.ejs%>