<% include base/head.ejs%>
<% include base/nav.ejs%>
    <script src="/javascripts/quadro/jquery.js"></script>
    <script src="/javascripts/quadro/swiper/swiper.js"></script>
    <div id="box">
        <div id="box-top"></div>
        <div id="box-center">
            <div id="wrapper">
                <div class="lbt">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="/images/life/lb1.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/life/lb2.jpg" alt=""></div>
                        </div>
                        <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="box-bottom"></div>
    </div>


<% include base/foot.ejs%>





