<% include base/head.ejs%>
    <link rel="stylesheet" href="/stylesheets/lastcrazy/search.css">

    <div id="login">
        <a href="/login"><span class="fa fa-angle-left"></span></a>
        <input class="search" placeholder="大家正在搜：护肤套装">
        <span class="list">搜索</span>
    </div>
    <div class="remenbiaoqian">
        <p class="remen">热门搜索</p>
        <div class="biaoqian">
            <button>口碑爆款</button>
            <button>女式大衣</button>
            <button>女鞋</button>
            <button>护肤套装</button>
            <button>连衣裙</button>
            <button>女式羽绒服</button>
            <button>女式外套</button>
            <button>女皮衣/皮草</button>
            <button>女式套装</button>
            <button>女式风衣</button>
            <button>女单鞋</button>
            <button>女式针织衫</button>
        </div>
    </div>
    <% include base/foot.ejs%>