<% include base/head.ejs%>

<style>
    #search{
        width:100%;
        background:white;
        display:flex;
        align-items:flex-start
    }
   .search-top{
       height:4rem;
   }
   .search-center{
       height:10rem;
   }
   .search-bottom{
       height:20rem;
   }
</style>
    <div id="search-top">
        <div class="search">
kjasihdjd
        </div>
        <div class="search-center">
9iojskljdxknjsd
        </div>
        <div class="search-bottom">
mndjkansjkahjhajhajajas
        </div>
    </div>
<% include base/foot.ejs%>