<% include base/head.ejs%>
<style>
    .shoppingcar-top{
        width:100%;
        height:10rem;
        background:#FBFBFA
}
</style>
    <div class="shoppingcar-top">
        <i class="fa fa-angle-left"></i>
        购物车
    </div>
<% include base/head.ejs%>
