<!-- 空购物车界面 -->
<% include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/car/nullcar.css">
<div class="top">
    <span class="fa fa-angle-left fa-2x backindex" href="/shop/index"></span>
    <div class="top-content">购物车</div>
</div>
<div class="contentbox">
     <img src="/images/car/bg.png" width="100%">
     <div class="content">
            <p>&nbsp;&nbsp;购物车空空如也</p>
            <a href="/shop/index" class="qianggou">去抢购</a>
     </div>
</div>
<script>
// 返回上一页 
var backindex=document.querySelector('.backindex')
backindex.onclick=function(){
    history.back()
}
</script>
<% include base/foot.ejs %>