<% include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/login/user.css">
<script src="/javascripts/nav/showUser.js"></script>
<style>
.header{
    width: 37.5rem;
    height: 21rem;
    background: #f6f6f6 url(../images/login/07e0a3f4.user-login-bg.png) 0 0 no-repeat;
    margin: 0 auto;
    background-size:cover
}
.photo{
    position: relative;
}
</style>
<div class="header">
    <div class="header1"><img src="../images/login/返回.png"></div>
    <div class="header2">
        <div class="photo">
            <input type="file" style="opacity:0; filter:alpha(opacity=0); height: 85px; width: 85px; position: absolute; top: 0; left: 0; z-index: 9;" onchange="handleFiles(this,'icon')">
            <img src="../images/login/14581158913884.png" id="icon">        
        </div>
        <div><div class="yin"><img src="../images/login/deae2906957a4f30a33577a686379f4f.png"></div><div class="yin-span">银卡会员</div></div>
        <div class="phone"><span id="user"><%=result%></span></div>
    </div>
    <div class="header3"><img src="../images/login/首页.png"></div>
</div>
<div class="user">
    <a href="">
        <div class="user-img"><img src="../images/login/2019-10-20_003023.png"></div>
        <div class="user-span"><span>已完成</span></div>
    </a>
    <a href="">
        <div class="user-img"><img src="../images/login/2019-10-20_003158.png"></div>
        <div class="user-span"><span>未完成</span></div>
    </a>
</div>
<div class="kong"></div>

<div id="J-user-menus">
    <!-- <div class="user-menus"> -->
        <ul>
            <li class="list-item">
                <a href="https://mcheckout.vip.com/cart-history.html" class="list-item">
                    <div class="item-inner">
                        <p class="item-title">购物车历史</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-item">
                    <div class="item-inner userAdd">
                        <p class="item-title">收货地址</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-item">
                    <div class="item-inner">
                        <p class="item-title">修改登录密码</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-item">
                    <div class="item-inner">
                        <p class="item-title">绑定手机</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-item">
                    <div class="item-inner">
                        <p class="item-title">实名认证</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
            <li class="list-item1">
                <a href="" class="list-item">
                    <div class="item-inner">
                        <p class="item-title">我的银行卡</p>
                    </div>
                    <div class="icon-back"><img src="../images/login/返回 1.png"></div>
                </a>
            </li>
        </ul>
    <!-- </div> -->
</div>
<div class="kong"></div>
<ul>
    <li class="list-item2">
        <a href="" class="list-item">
            <div class="item-inner1">
                <p class="item-title">退出登录</p>
            </div>
        </a>
    </li>
</ul>
<div class="kong1"></div>
<div id="J-wx-share">
    <input type="hidden" id="J-share-switch" value="">
</div>



<!-- 点击返回首页 -->
<script>    
    var header1=document.querySelector('.header1')
    var header3=document.querySelector('.header3')
    header1.onclick=function(){
        location.href='/index'
    }
    header3.onclick=function(){
        location.href='/index'
    }
    function handleFiles(obj,id) {
            file = document.getElementById("icon");
            var files = obj.files;
            img = new Image();
            if(window.URL){
                //File API
                img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
                img.onload = function(e) {
                window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
                }
            }
            file.src=img.src;
            //上传文件
                var fd = new FormData(),//实例化一个表单
                xhr = new XMLHttpRequest();
                fd.append('headimg', files[0]);//追加图片元素
                xhr.open('post', 'user.php?act=act_edit_img');//请求方式，请求地址
                xhr.send(fd);
        }

        // 进入收货界面
        var useradd=document.querySelector('.userAdd')
        
            useradd.onclick=function(){
                location.href='/UserAddress'
                
            }
        
</script>

<% include base/bottom.ejs %>
    <% include base/foot.ejs %>