<% include base/head.ejs%>
<!-- 导航 -->
<% include base/navvipcostly.ejs%>




<!-- 导航栏下方内容 -->



<link rel="stylesheet" href="/stylesheets/vipcostly/vipcostly.css">
    <script src="/javascripts/quadro/jquery.js"></script>
    <script src="/javascripts/quadro/swiper/swiper.js"></script>
<div class="vipcostly">
        <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href=""><img src="/images/vipcostly/lb3.jpg" width="100%"></img></a></div>
                    <div class="swiper-slide"><a href=""><img src="/images/vipcostly/lb4.jpg" width="100%"></img></a></div>
                </div>
                <div class="swiper-pagination"></div><!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
        </div>


</div>


<div class="flex-container">
    <div class="flex-item">
        <img src="/images/vipcostly/nvzhuang.jpg" width="100%" alt="">
    </div>
    <div class="flex-item">
        <img src="/images/vipcostly/nanzhuang.jpg"width="100% "alt="">
    </div>
    <div class="flex-item">
        <img src="/images/vipcostly/baodai.jpg"   width="100%" alt="">
    </div>  
  </div>

  <div class="flex-container">
    <div class="flex-item">
        <img src="/images/vipcostly/pei.jpg" width="100%" alt="">
    </div>
    <div class="flex-item">
        <img src="/images/vipcostly/mei.jpg"width="100% "alt="">
    </div>
    <div class="flex-item">
        <img src="/images/vipcostly/xie.jpg"   width="100%" alt="">
    </div>  
    <div class="flex-item">
        <img src="/images/vipcostly/fen.jpg"   width="100%" alt="">
    </div>  
  </div>
<div>
    <img width="100%" src="/images/vipcostly/shangxin.jpg" alt="">
</div>

<p style="margin: 0 auto;width: 100%; text-align:center;font-size: 16px; font-weight:600; color: #000;margin-top:1rem; margin-bottom: 1rem;">每天早10点 晚8点上新</p>
            <%for (var j=0;j<data.length;j++){ %>
        <div  class="opennew">
            <div class="opennew-top">
                <img  width="100%"src=<%=data[j].img %> alt="">
            </div>
            <div class="clear" style="margin:0.2rem 0">
              <p class="opennew-goodsname"><span><%= data[j].goodsname%></span></p>
              <p class="opennew-times">还剩  
                    <span>两天</span>
              </p>
            </div>
            <p class="opennew-price"> <span style="margin-right: 1.5rem"><%= data[j].price1%></span><span style="margin-right: 0.3rem"></span><%=data[j].price2%></p>
        </div>
 <% } %>


  
<script language="javascript"> 
        var mySwiper = new Swiper('.swiper-container',{
            pagination: '.swiper-pagination',
            paginationClickable: true  ,
            autoplay:3000
        })

</script>
<% include base/bottom.ejs%>
<% include base/foot.ejs%>