body{
    background: #FFFFFF;
}
.x{
    position: absolute;
    top: 1rem;
    left: 35rem;
    font-size: 2.5rem;
    color: #818181;
}

.vip{
    margin-left: 11rem;
    padding-top: 7rem;
}
.vip img{
    width: 16rem;
}
#div{
    padding-left: 0;
    padding-right: 0;
}
#input1,#input2{
    width: 15rem;
    /* float: left; */
    margin-right: 7rem;
    border: none;
    background-color: white !important;
    box-shadow: none;
}
#button{
    border-radius: 30rem;
    margin-top: 1.5rem;
    width: 32rem;
    margin-left: 3rem;
    background: #CACCD2;
    border: none;
}
#p1{
    float: left;
    line-height: 4rem;
    font-size: 1.7rem;
    margin-left: 2.5rem;
    color: black;
}
#p2{
    float: left;
    font-size: 1.7rem;
    line-height: 4.5rem;
    margin-left: 2.5rem;
    color: black;
}
#bottom{
    border-bottom: 0.15rem #F3F3F3 solid;
    padding-top: 0.5rem;
    height: 5.3rem;
}
#bottom1{
    border-bottom: 0.15rem #F3F3F3 solid;
    padding-top: 0.5rem;
    width: 25rem;
    height: 5.3rem;
    /* float: left; */
}
#bottom2{
    border-bottom: 0.15rem #F3F3F3 solid;
    border-left: 0.15rem #F3F3F3 solid;
    padding-top: 0.5rem;
    width: 12.55rem;
    height: 5.45rem;
    position: absolute;
    top: 24.15rem;
    left: 25rem;
}
 #p3{
    /* float: left; */
    width: 12.55rem;
    height: 4.5rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    border:none;
    margin-left: 0.1rem;
    color: #007AFF;
}
#p3:hover{
    background: none;
}
.password{
    width: 37.5rem;
    height: 4rem;
    color: #5DAAFF;
    /* float: left; */
    padding-left: 2rem;
    font-size: 1.17rem;
    margin-top: 1rem;
}
.password-span{
    color: black;
    padding-left: 0.2rem;
}
.password1{
    float: left;
    height: 4rem;
    /* font-size: 1rem; */
    margin-left: 1rem;
}
.password2{
    float: left;
    height: 4rem;
}
.h{
    width: 37.5rem;
    height: 3rem;
    /* background: palegreen; */
    margin-top: 5rem;
}
.hr2{
    width: 17rem;
    height: 1.2rem;
    /* background: #5069c6; */
    float: right;
    border-bottom: 0.15rem #EDEDED solid;
}
.huo{
    font-size: 1.5rem;
    float: right;
    color: #EDEDED;
    margin-left: 1rem;
    margin-right: 1rem;
}
.hr1{
    width: 17rem;
    height: 1.2rem;
    /* background: #5069C6; */
    float: right;
    border-bottom: 0.15rem #EDEDED solid;
}
.zhuce{
    border-radius: 8rem;
    margin-top: 0.9rem;
    width: 9rem;
    height: 3rem;
    margin-left: 14.3rem;
    background: white;
    line-height: 3rem;
    border: 0.15rem #F180BF solid;
}
.zhuce a{
    color: #F180BF;
    border: none;
    margin-left: 1.6rem;
    border-radius: 20rem;
    font-size: 1.4rem;
}
.zhuce a:hover{
    background: white;
}